.historical-rate {
  display: flex;
  height: 100%; 
  flex-direction: column;
}

.historical-rate-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.historical-rate-content-1 {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 45%; 
}

.historical-rate-content-2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 40%; 
  justify-content: space-between;
}


.historical-rate-title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 25px;
}

.historical-rate-left {
 display: flex;
 flex-direction: column;
 flex: 8;
 justify-content: space-between;
}

.historical-rate-mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 5;
 }

.historical-rate-space {
  display: flex;
  flex: 1;
}
 

 .historical-rate-info {
   height: 26px;
 }

 .historical-rate-info-place-holder {
  font-weight: 100;
  font-size: small; 
 }
 
 
.historical-rate-desc {
  display: flex;
  height: 56px;
  align-items: center;
  flex: 8
}

.historical-rate-right {
  display: flex;
  flex: 17
 }
 
.historical-rate-date-from {
  display: flex;
  flex: 12
}

.historical-rate-date-to-text {
  display: flex;
  flex: 2;
  align-self: center;
}

.historical-rate-date-to {
  display: flex;
  flex: 12
}


